{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Fraud Prevention</title>
    <link rel="stylesheet" href="{% static 'index_fraud_style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
        <div class="chat-header">
            <h5>关于我们</h5>
            <button id="chatCloseBtn">&times;</button>
        </div>

</body>
</html>
